<div class="main_container">
  <!-- using jsPDF............... -->
  <button (click)="downloadAsPDF()">Download</button>

  <div class="template_container" id="cvtemplate" #cvtemplate>
    <div class="personal_info_container">
      <!-- Profile Photo & Name | Designation | Objective -->
      <div class="personal_info_section1">
        <div class="profile_photo">
          <!-- <img src="{{ profile_photo }}" alt="Profile" /> -->
        </div>
        <div>
          <h1 class="name">Mohammad Arsad Siddiqui</h1>
          <h3 class="designation">
            Graphic & UI/UX Designer | Full Stack Software Engineer
          </h3>
          <p class="objective">
            Work as team player with vision to achieve goals for individual and
            company. To create a dynamic and happy environment for unleashing
            day to day challenges and meeting long term goals. Always try to
            explore and learn new things related to technical and non-technical.
          </p>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="personal_info_section2">
        <div class="contact_list_left">
          <div class="contact_list">
            <div class="icons">
              <i class="fas fa-envelope"></i>
              <i class="fas fa-map-marker-alt"></i>
              <i class="fas fa-globe"></i>
            </div>
            <div class="links">
              <p>
                <a href="mailto:arshadsiddiqui36@gmail.com"
                  >arshadsiddiqui36@gmail.com</a
                >
              </p>
              <p>Bharatpur Grint, Utraula, Balrampur, India</p>
              <p>
                <a href="https://mascreation.tech" target="_blank"
                  >mascreation.tech</a
                >
              </p>
            </div>
          </div>
        </div>

        <div class="contact_list_right">
          <div class="contact_list">
            <div class="contact_list">
              <div class="icons">
                <i class="fas fa-mobile-alt"></i>
                <i class="far fa-calendar-alt"></i>
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="links">
                <p>9161757683</p>
                <p>18 July, 1999</p>
                <p>
                  <a
                    href="https://www.linkedin.com/in/m-arsad-siddiqui/"
                    target="_blank"
                    >m-arsad-siddiqui</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Information -->
    <div class="other_info_container">
      <div class="other_info_left">
        <div class="education">
          <h2 class="subject_title">Education</h2>

          <h3 class="subject_info">B.Tech (Computer Science & Engineering)</h3>
          <p class="subject_info2">Lovely Professional University, Punjab</p>
          <div class="year_grade">
            <span class="year"> 2022 </span>
            <span class="grade">CGPA : 6.84</span>
          </div>

          <h3 class="subject_info">XII (BHSIEUP)</h3>
          <p class="subject_info2">Shri R. K. C. Inter College, Keshaw Nagar</p>
          <div class="year_grade">
            <span class="year"> 2016 </span>
            <span class="grade">Percentage : 87</span>
          </div>

          <h3 class="subject_info">X (BHSIEUP)</h3>
          <p class="subject_info2">Shri R. K. C. Inter College, Keshaw Nagar</p>
          <div class="year_grade">
            <span class="year"> 2014 </span>
            <span class="grade">Percentage : 76.5</span>
          </div>
        </div>

        <div class="experience x_space">
          <h2 class="subject_title">WORK EXPERIENCE</h2>

          <h3 class="subject_info">Associate Software Developr</h3>
          <p class="subject_info2">VenturePact & Outgrow</p>
          <div class="year_exp">
            <span class="year"> 2021 </span>
            <span class="year"> - Present </span>
          </div>

          <h3 class="subject_info">Graphic Designer & Web Developer</h3>
          <p class="subject_info2">Your Belief (Contractor Company)</p>
          <div class="year_exp">
            <span class="year"> 2019 </span>
            <span class="year"> - Present </span>
          </div>

          <h3 class="subject_info">CTO (Chief Technical Officer)</h3>
          <p class="subject_info2">Yuvaa (Student Organization)</p>
          <div class="year_exp">
            <span class="year"> 2018 </span>
            <span class="year"> - 2021 </span>
          </div>
        </div>

        <div class="organization x_space">
          <h2 class="subject_title">Organizations</h2>
          <p class="subject_info3">Yuvaa (Student Organization)</p>
          <div class="role">
            <span> Graphic Designer - CTO (Chief Technical Officer) </span>
          </div>

          <p class="subject_info3">Cyberhack</p>
          <div class="role">
            <span> Graphic Designer </span>
          </div>

          <p class="subject_info3">Your Belief (Contractor Company)</p>
          <div class="role">
            <span> Graphic Designer, Video Editor & Web Developer </span>
          </div>
        </div>
      </div>

      <div class="other_info_right">
        <div class="skills">
          <h2 class="subject_title">Skills</h2>
          <div class="skill_list">
            <span class="skill">C</span>
            <span class="skill">C++</span>
            <span class="skill">C#</span>
            <span class="skill">Python</span>
            <span class="skill">Java</span>
            <span class="skill">HTML</span>
            <span class="skill">CSS</span>
            <span class="skill">SASS</span>
            <span class="skill">JavaScript</span>
            <span class="skill">jQuery</span>
            <span class="skill">PHP</span>
            <span class="skill">MySQL</span>
            <span class="skill">Node</span>
            <span class="skill">Angular</span>
            <span class="skill">React</span>
            <span class="skill">Express</span>
            <span class="skill">MongoDB</span>
            <span class="skill">Photoshop</span>
            <span class="skill">Illustrator</span>
            <span class="skill">Adobe XD</span>
            <span class="skill">Figma</span>
            <span class="skill">Premiere Pro</span>
            <span class="skill">After Effects</span>
            <span class="skill">Filmora</span>
          </div>
        </div>
        <div class="projects x_space">
          <h2 class="subject_title">Personal Projects</h2>
          <p class="subject_info3 project_info_space">
            Online Music System (Front-End Project)
          </p>
          <div class="project_link">
            <a
              href="https://arshadsiddiqui36.github.io/Project/"
              target="_blank"
            >
              https://arshadsiddiqui36.github.io/Project/
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
          <p class="subject_info3 project_info_space">
            Skills Routing (Blog Project)
          </p>
          <div class="project_link">
            <a href="https://skillsrouting.blogspot.com/" target="_blank">
              https://skillsrouting.blogspot.com/
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
        <div class="certificates x_space">
          <h2 class="subject_title">Certificates</h2>
          <p class="subject_info3 certificate_info_space">
            Object Oriented Programming using Java by E-Box
            <span>2020</span>
          </p>
          <p class="subject_info3 certificate_info_space">
            Full Stack Web Development by Microsoft Technical Community, LPU
            <span>2019</span>
          </p>
        </div>
        <div class="languages x_space">
          <h2 class="subject_title">Languages</h2>
          <div class="language_lists">
            <div class="language_list">
              <p>English</p>
              <span class="language">Professional Working Proficiency</span>
            </div>
            <div class="language_list">
              <p>Hindi</p>
              <span class="language">Native or Bilingual Proficiency</span>
            </div>
            <div class="language_list">
              <p>Urdu</p>
              <span class="language">Professional Working Proficiency</span>
            </div>
          </div>
        </div>
        <div class="interests x_space">
          <h2 class="subject_title">Interests</h2>
          <div class="intrest_list">
            <span class="intrest">Travelling</span>
            <span class="intrest">Exploring</span>
            <span class="intrest">Listening Music</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
